/*resetting CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --black: #264c67;
  --actionBlue: #1774ff;
  --successGreen: #58b287;
}

body {
  font-family: sans-serif;
}

/*positioning and styling the device emulator*/
body.mobileBG .mobileAlign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 10px #0f0f0f;
}

/*Add the background image with an overlay*/
body.mobileBG .bgOverlay {
  background-image: linear-gradient(rgba(36, 190, 255, 0.5), rgba(36, 190, 255, 0.5)), url('https://wallpapercave.com/wp/wp2061029.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainframe {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
}


.refresh-btn {
  position: relative;
  top: 50%;
  transform: translateY(200%);
  left: 80%;
  background-color: dodgerblue;
  border: none;
  display: inline-block;
  padding: 1% 3%;
  color: #ffffff;
  border-radius: 2.0em;
  font-size: 1.5em;
  cursor: pointer;
}

.refresh-btn:focus {
  outline: none;
}
