/*container for all content within screen*/
.container-welcome {
  position: relative;
  width: 100%;
  height: 98%;
  background-color: rgba(36, 190, 255, 0.5);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 80% 100%, 70% 100%, 60% 100%, 50% 100%, 40% 100%, 30% 100%, 20% 100%, 10% 100%, 0 100%);
  animation: shearOverlay;
  animation-duration: 1.7s;
  animation-timing-function: ease-out;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

/*header content*/
.header {
  width: 100%;
  height: 100%;
}
/*logo container*/
.logo {
  position: relative;
  width: 100%;
  height: 100%;
  animation: titleAppear;
}
  /*scaling the logo image to fit in the prototype*/
.logo img {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation-name: titleAppear;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

/*Styling the header/hero text*/
.heroText {
  position: absolute;
  display: block;
  width: 100%;
  top: 25%;
  text-align: center;
  font-size: 2.0em;
  color: #ffffff;
  opacity: 0;
  animation-name: titleAppear;
  animation-duration: 1.0s;
  animation-delay: 1.0s;
  animation-fill-mode: forwards;
}

/*login form*/
.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
}
 /*Styling the input elements of the login form*/
.loginForm .inputElement {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 200;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin: 15% 0;
  opacity: 0;
  transform: translate(-50%, -60%);
  animation: titleAppear 1.0s 1.5s forwards;
}

/*Getting rid of the blue outline over an active input element in the login form*/
.loginForm .inputElement:focus {
  outline: none;
}

/*Styling the placeholder text of the input elements of the login form*/
.loginForm .inputElement::placeholder {
  color: #ffffff;
  font-weight: 200;
  opacity: 0.8;
  font-size: 0.9em;
}

/*Styling the login button*/
.report-btn {
  display: block;
  background-color: #ffffff;
  border: none;
  font-weight: lighter;
  font-size: 1.3em;
  padding: 3.5% 7%;
  border-radius: 2.0em;
  position: absolute;
  left: 50%;
  top: 90%;
  width: 45%;
  transform: translateX(-50%);
  color: var(--black);
  cursor: pointer;
  opacity: 0;
  transform: translate(-50%, -60%);
  animation: titleAppear 1.0s 1.5s forwards;
}

/*Getting rid of the blue outline when user clicks the login button*/
.report-btn:focus {
  outline: none;
}

.report-btn:active {
  color: var(--actionBlue);
}
